<h1> Places I've been: </h1>

<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"]%>"><%= place["name"] %>
    </li>
  <% end %>
</ul>

<p>
<a href="/places/new">Get new place
</p>